# Machine Learning and Deep Learning Frameworks
torch
torchvision
timm

# Computer Vision and Image Processing
opencv-python
grad-cam

# Scientific Computing & Data Analysis
numpy
pandas
scikit-learn

# Visualization and Progress Monitoring
matplotlib
tqdm

# Dataset download helper
kagglehub
